data/*
wandb/*
.vscode
softgym/softgym/cached_initial_states/*
**/__pycache__/

softgym/softgym/cached_initial_states/*
softgym/softgym/envs/corl_cached_state_backup
softgym/data
softgym/__pycache__/
softgym/.idea
softgym/PyFlex/demo/compiler/makelinux64/.deps
softgym/PyFlex/demo/compiler/makelinux64/build
softgym/PyFlex/examples/build
softgym/PyFlex/examples/cmake-build-debug
softgym/PyFlex/bindings/cmake-build-debug
softgym/PyFlex/bindings/build
softgym/*.swp
softgym/*.swo
softgym/*.swn

softgym/PyFlex/bindings/examples/tmp
softgym/PyFlex/bindings/examples/*.avi
softgym/PyFlex/bindings/examples/*/
softgym/PyFlex/bindings/examples/*.gif

softgym/build/